service: knowledge-base-api

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: ap-south-1
  environment:
    DOCUMENTS_TABLE: ${self:service}-${self:provider.stage}-documents
    OPENSEARCH_DOMAIN_ENDPOINT: ${env:OPENSEARCH_ENDPOINT, 'https://search-knowledgebase-search-new-ehotyrromqfzkijvbsnf3kzini.aos.ap-south-1.on.aws'}
    OPENSEARCH_ENABLED: ${env:OPENSEARCH_ENABLED, 'true'}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:Scan
        - dynamodb:Query
        - dynamodb:GetRecords
        - dynamodb:GetShardIterator
        - dynamodb:DescribeStream
        - dynamodb:ListStreams
      Resource: 
        - "Fn::GetAtt": [ DocumentsTable, Arn ]
        - !Join ['', [!GetAtt DocumentsTable.Arn, '/stream/*']]
    - Effect: Allow
      Action:
        - bedrock:InvokeModel
      Resource: 
        - "arn:aws:bedrock:ap-south-1::foundation-model/amazon.titan-embed-text-v2:0"
    - Effect: Allow
      Action:
        - es:ESHttpPost
        - es:ESHttpPut
        - es:ESHttpGet
        - es:ESHttpHead
        - es:ESHttpDelete
        - aoss:APIAccessAll
        - es:ESHttpPatch
        - es:DescribeDomain
        - es:ListDomainNames
        - es:DescribeDomainConfig
        - es:DescribeDomains
        - opensearch:ESHttpGet
        - opensearch:ESHttpPost
        - opensearch:ESHttpPut
        - opensearch:ESHttpDelete
        - opensearch:ESHttpHead
        - opensearch:ESHttpPatch
        - opensearch:DescribeDomain
        - opensearch:DescribeDomains
        - opensearch:DescribeDomainConfig
        - opensearch:ListDomainNames
      Resource: 
        - !Sub "arn:aws:es:${self:provider.region}:${AWS::AccountId}:domain/${self:custom.opensearchDomainName}/*"
        - !Sub "arn:aws:aoss:${self:provider.region}:${AWS::AccountId}:collection/${self:custom.opensearchDomainName}*"
        - !Sub "arn:aws:opensearch:${self:provider.region}:${AWS::AccountId}:domain/${self:custom.opensearchDomainName}/*"

custom:
  opensearchDomainName: knowledgebase-search-new

package:
  individually: true
  excludeDevDependencies: true

functions:
  api:
    handler: dist/handler.handler
    package:
      patterns:
        - '!**'
        - 'dist/**'
        - 'node_modules/**'
    events:
      - http:
          path: /
          method: ANY
          cors: true
      - http:
          path: /{proxy+}
          method: ANY
          cors: true
  
  documentIngestion:
    handler: dist/lambdas/documentIngestion.handler
    package:
      patterns:
        - '!**'
        - 'dist/**'
        - 'node_modules/**'
    events:
      - stream:
          type: dynamodb
          arn: !GetAtt DocumentsTable.StreamArn
          batchSize: 10
          startingPosition: LATEST
          enabled: true

resources:
  Resources:
    DocumentsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-${self:provider.stage}-documents
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        StreamSpecification:
          StreamViewType: NEW_IMAGE

plugins:
  - serverless-offline 