service: knowledge-base-api

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: ap-south-1
  environment:
    DOCUMENTS_TABLE: ${self:service}-${self:provider.stage}-documents
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:Scan
        - dynamodb:Query
      Resource: 
        - "Fn::GetAtt": [ DocumentsTable, Arn ]

package:
  patterns:
    - '!node_modules/.bin/**'
    - '!node_modules/@types/**'
    - '!node_modules/typescript/**'
    - 'node_modules/**'
    - '!src/**'
    - 'dist/**'

functions:
  api:
    handler: dist/handler.handler
    events:
      - http:
          path: /
          method: ANY
          cors: true
      - http:
          path: /{proxy+}
          method: ANY
          cors: true

resources:
  Resources:
    DocumentsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-${self:provider.stage}-documents
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

plugins:
  - serverless-offline 